<%- include('partials/header') %> 
<h1>Home</h1>
<p><%= para1 %> </p>

<% console.log(posts) %>

<% posts.forEach(post){  %>
<%  console.log(posts.title); %>
<% } %>

<%- include('partials/footer') %> 